<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise_Form_Rest.Properties.Settings.TI_UMYConnectionString"
            connectionString="Data Source=DESKTOP-3M69Q4U;Initial Catalog=&quot;TI UMY&quot;;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>